.tabsRoot {
  button {
    all: unset;
    cursor: pointer;
  }
}

.tabList {
  display: flex;
  flex-shrink: 0;
  background-color: var(--tab-list-background);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0.2rem;
}

.tabsTrigger {
  flex-grow: 1 !important;
  color: var(--primary-text-color);
  text-transform: capitalize !important;
  padding: 1rem !important;
  border-radius: var(--border-radius) !important;
  display: grid !important;
  place-items: center !important;

  &:hover {
    opacity: 0.7;
  }

  &[data-state="active"] {
    background-color: var(--sidebar-background) !important;
  }
}
