@import 'normalize.css';
@import '@fontsource/kanit/latin.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* 1rem = 16px on desktop */
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    /* 1rem = 14px on mobile */
    font-size: 14px;
  }
}

#tsparticles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100;
}

//#tsparticles canvas {
//  pointer-events: all !important;
//}
